// @import url("mixins.scss");

* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Eightbit";
	src: url(../fonts/eightbit.ttf) format("truetype");
	src: url(../fonts/eightbit.otf) format("opentype");
}

// @include font-face("Eightbit, fonts/Eightbit");


body, html {
	max-width: 1800px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-weight: lighter;
	font-family: "Rajdhani", "Verdana", "Arial", sans-serif;
	font-size: 16px;
	color: white;
	transition: all 0.5s ease;
	background: url(../img/login-background.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* --------------------------------------------------------------------------- */

/******************************************
****************  DEFAULT ***************
*******************************************/

h1, h2, h3, h4{
	font-family: "Eightbit", "Impact", "Arial", sans-serif;
	margin: 0;
	font-weight: normal;
	font-size: 100%;
}

h1{
	font-size: 150%;
}

h2{
	font-size: 115%;
}

p{
	font-family: "Rajdhani", "Verdana", "Arial", sans-serif;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 100%;
}

a{
	text-align: center;
	color: white;
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		text-align: left;
	}
}

figure{
	margin: 0;
	padding: 0;
}

/******************************************
**************** LOGIN PAGE  **************
*******************************************/
div.loginWrapper{
	width: 100%;
	height: 100%;
	// background: url(../img/login-background.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	padding: 0;
	main.loginContainer{
		position: relative;
		background: hsla(0, 0%, 0%, 0.68);
		height: 100%;
		div.loginBox{
			position: absolute;
			width: 100%;
		}
		div.loginOptions{
			display: flex;
			flex-wrap:wrap;
			margin-bottom: 100px;
			a.signIn,
			a.signUp{
				color: white;
				text-transform: uppercase;
				text-align: center;
				display: inline-block;
				width: 50%;
				padding: 15px 0;
				margin: 0;
				border-bottom: 1px solid #2f2f2f;
			}
			a.signUp{
				background: hsla(0, 0%, 0%, 0.68);
				border-left: 1px solid #2f2f2f;
			}
		}
	}
	div.loginInfo{
		h1.logo{
			text-align: center;
			font-size: 180%;
			margin-bottom: 10px;
		}
		p.slogan{
			text-align: center;
			margin-bottom: 50px;
		}
	}
}

form.loginForm{
	margin: 0 auto;
	width: 300px;
	input.user,
	input.password{
		border: none;
		border-radius: 5px;
		font-family: "Rajdhani", "Verdana", "Arial", sans-serif;
		padding: 10px 15px;
		width: 100%;
		margin-bottom: 30px;
		color: #969696;
	}
	input.submit{
		border: none;
		border-radius: 5px;
		font-family: "Rajdhani", "Verdana", "Arial", sans-serif;
		font-size: 80%;
		display: block;
		width: 180px;
		padding: 10px 15px;
		color: white;
		background-color: #03BC67;
		text-transform: uppercase;
		margin: 0 auto;
		cursor: pointer;
	}
}

form.loginForm input:focus{ 
	outline: none;
    box-shadow: 0px 0px 0px 1.5px rgba(3,188,103,1);
}

/******************************************
**************** HOMEPAGE *****************
*******************************************/
header{
	z-index: 999;
	max-width: 1800px;
	width: 100%;
	top: 0;
	position: fixed;
	background-color: black;
	height: 70px;
}

nav{
	width: 100%;
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	display: flex;
	flex-wrap: wrap;
	.userProfile{
		width: 25%;
		img{
			float: left;
			padding-left: 20px;
		}
	}
	.toHome{
		width: 50%;
		font-size: 150%;
		font-family: "Eightbit", "Impact", "Arial", sans-serif;
		text-align: center;
	}
	.shoppingCart{
		width: 25%;
		img{
			float: right;
			padding-right: 20px;
		}
	}
	a:last-child{
		margin-right: 0;
	}
}

div.homepageWrapper{
	margin-top: 70px;
    background-color: #F4F4F4;
}

section.searchContainer{
	padding: 50px 0;
	form.searchForm{
		width: 250px;
	    margin: 0 auto;
	    .searchField{
	    	width: 100%;
	    	padding: 10px 0 10px 10px;
	    	font-family: "Rajdhani", "Verdana", "Arial", sans-serif;
	    	color: #949494;
	    	border-radius: 5px;
	    	border: 1px solid #D0D0D0;
	    	outline: none;
	    	background: url(../img/search.png) no-repeat scroll 224px 10px white;
	    }
	}
}

main.productMain{
	position: relative;
	ul.productList{
		width: 100%;
		max-width: 730px;
		margin: 0 auto;
		padding: 0 20px;
		display: flex;
		flex-wrap:wrap;
		li.game{
			width: calc((100%/2) - 20px);
    		margin: 0 auto 40px;
    		img{
    			width: 100%;
    		}
    		figcaption{
    			color: black;
    		}
		}
		li.game:last-child{
			margin: initial;
		}
	}
	.addGameContainer{
	    width: 100%;
	    max-width: 1800px;
	    margin: 0 auto;
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    left: 0;
	    transition: all 0.5s ease;
	    a{
	    	float: right;
			img{
				float: right;
				vertical-align: middle;

			}
		}
	}
}

// EDIT/DELETE/ADD GAME POPUP
.white-popup{
	position: relative;
	background: #F4F4F4;
	width: auto;
	max-width: 730px;
	min-height: 500px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
  	align-items: center;
	section{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px;
		margin: 0 auto;
		.gameThumbnail,
		.thumbnailUpload{
			width: 40%;
			margin-right: 5%;
			img{
				width: 100%;
			}
		}
		.gameInfo,
		.addInfo{
			position: relative;
			width: 55%;
			ul{
				color: black;
				li{
					margin-bottom: 5px;
				}
			}
			.gameOptions{
				position: absolute;
				right: 0;
				bottom: 10px;
				a{
					text-transform: uppercase;
					color: white;
					border-radius: 5px;
					padding: 5px 15px;
				}	
				.edit,
				.save{
					background-color: #03BC67;
				}
				.delete,
				.cancel{
					background-color: #B21111;
				}
			}
		}
	}	
}

form.editGame,
form.addGame{
	input{
		width: 100%;
	}
}
/*****************r*************************
****************  GAME LIST  ***************
*******************************************/

// MEDIA QUERIES
@media screen and (min-width:780px) {
	main.loginContainer{
		background: transparent !important;
		div.loginBox{
			position: absolute;
			background: rgba(0, 0, 0, 0.68);
			width: 730px !important;
			padding: 0 0 100px;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -30%);
		}
	}

	main.productMain{
		.productList li.game{
			width: calc((100%/3) - 20px) !important;
	    }
	}

	.addInfo ul li,
	.gameInfo ul li{
		font-size: 120%;
	}
}

@media screen and (min-width:1440px) {
	.homepageWrapper{
		display: flex;
		flex-wrap:wrap;
		margin: 0 auto;
		.searchContainer{
			height: 100%;
			position: fixed;
			width: 20%;
			border-right: 1px solid #D0D2CB;
		}
		main.productMain{
			margin-left: 20%;
			width: 100%;
			ul.productList{
				margin-top: 50px;
				max-width: 1040px;
				li.game{
					width: calc((100%/4) - 20px) !important;
				}
				li.game:last-child{
					margin: 0 0 40px 0
				}
			}
		}
	}

	.white-popup{
		padding: 0 30px;
	}

	.addInfo ul li,
	.gameInfo ul li{
		font-size: 140%;
	}
}




